*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box ;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

}

header{
    background-color:  rgb(39, 191, 194);
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
   

}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    display:flex ;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
#logoicon{
    width: 44px;
    height: 44px;
}

#logoname{
    font-size: 1.3rem;
    color: white;
    font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
.icons{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 2rem;
}
#searchholder{
    width: 100%;
    max-width: 540px;
}
#searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    display: none ;

}
#searchbox.span{
    font-size: 1.2rem;
}
.searchinput{
    padding: 0.5rem;
    border: none;
    width: 100%;
    outline: none;
}

.product{
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 1rem;
}
.product img{
    width: 100%;
}

.product h3{
    font-size: 1.5rem;
}
.priceandbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product .rating{
    color: rgb(255, 210, 47);
    font-size: 1.5rem;
}

.price{
    font-size: 1.5rem;
    
}

.product button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: rgb(32, 202, 32);
    color: white;
    border-radius: 0.5rem;
}
.productlist{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media only screen and (min-width: 960px) {
    #menubutton{
        display: none;
    }
    #searchbox{
        display: flex;

    } 
  }

  body{
    background-color: rgba(201, 248, 240, 0.616);
  }

  

  @media only screen and (min-width: 768px) {
    .productlist{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
